Repository kubernetes-csi/csi-release-tools, pull requests merged in 2021-08, with the labels that each got.

#165 docs: make github links reference HEAD instead of master
  README.md
  SECURITY_CONTACTS
  SIDECAR_RELEASE_PROCESS.md
  cloudbuild.yaml
  prow.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M

#168 Remove requirement to be top-level approver for release
  SIDECAR_RELEASE_PROCESS.md
Labels: size/XS, release-note-none, cncf-cla: yes, lgtm, approved

#167 Release armv7 images
  prow.sh
Labels: ok-to-test, size/XS, release-note-none, cncf-cla: yes, lgtm, approved

#170 prow.sh: deploy canary snapshot-controller in canary jobs
  prow.sh
Labels: release-note-none, size/S, cncf-cla: yes, lgtm, approved
